<tei2html.config>
    <text.abbr>d.w.z.; b.v.; d.i.; i.d.; n.l.; c.M.; z.g.; m.m.; m.M.; N.B.; Z.g.</text.abbr>

    <pg.compliant>false</pg.compliant>

    <colophon.showCorrections>false</colophon.showCorrections>
    <toc.numberEntries>false</toc.numberEntries>

    <images.scale>0.5</images.scale>
    <images.maxSize>256</images.maxSize>
    <images.maxWidth>720</images.maxWidth>
    <images.maxHeight>720</images.maxHeight>
</tei2html.config>